{
    "id": {{metadata.get('general', 'id')|json}},
    "version": {{version|json}},
    "license": "GPL3",
    "name": "abc-firefox",
    "fullName": {{localeMetadata[defaultLocale].name|json}},
    "description": {{localeMetadata[defaultLocale].description|json}},

    {%- if metadata.has_option('homepage', 'default') %}
    "homepage": {{metadata.get('homepage', 'default')|json}},
    {%- endif %}

    {%- if metadata.has_option('general', 'icon') %}
    "icon": {{metadata.get('general', 'icon')|json}},
    {%- endif %}

    "author": {{metadata.get('general', 'author')|json}},
    "contributors": {{contributors|json}},

    {%- if not releaseBuild or metadata.has_option('general', 'updateURL') %}
    "updateURL": "
      {{- metadata.get('general', 'updateURL') if releaseBuild else 'http://adblockcash.org/devbuilds/%s/update.rdf' % metadata.get('general', 'basename') -}}
      {{- '?reqVersion=%REQ_VERSION%&id=%ITEM_ID%&version=%ITEM_VERSION%&maxAppVersion=%ITEM_MAXAPPVERSION%&status=%ITEM_STATUS%&appID=%APP_ID%&appVersion=%APP_VERSION%&appOS=%APP_OS%&appABI=%APP_ABI%&locale=%APP_LOCALE%&currentAppVersion=%CURRENT_APP_VERSION%&updateType=%UPDATE_TYPE%' -}}
    ",
    {%- endif %}

    "repository": {
        "url": "https://github.com/adblockcash/abc-firefox",
        "type": "git"
    },
    "bugs": {
        "url": "https://github.com/adblockcash/abc-firefox/issues"
    },
    "keywords": [
        "adblock",
        "adblockcash",
        "firefox"
    ],
    "main": "lib/main.js"
}
